@font-face {
    font-family: 'barlow';
    src: url(../public/fonts/Barlow/Barlow-Thin.ttf);
}

@font-face {
    font-family: 'barlow-regular';
    src: url(../public/fonts/Barlow/Barlow-Medium.ttf);
}